<% other_user = conversation.sender == current_user ? conversation.receiver : conversation.sender %>
<% contact = current_user.contacts.find_by(phone_number: other_user.phone_number) %>

<a href="<%= conversation_path(conversation) %>" class="flex items-center p-3 hover:bg-gray-200 rounded-lg transition space-x-3 relative">
  <div class="relative">
    <%= image_tag other_user.avatar.attached? ? other_user.avatar : "default_profile_pic.jpg", class: "w-10 h-10 rounded-full border" %>

    <% if other_user.online? %>
      <span class="absolute bottom-0 right-0 w-3 h-3 bg-green-500 border-2 border-white rounded-full"></span>
    <% end %>
  </div>

  <div class="flex-grow">
    <h3 class="text-md font-medium"><%= contact&.name || other_user.phone_number %></h3>
    <p class="text-sm text-gray-700 truncate">
      <%= conversation.messages.last&.content&.truncate(20) || "No messages yet" %>
    </p>
  </div>

  <% 
    unseen_count = if conversation.sender == current_user
      conversation.messages.count { |msg| msg.user_id == other_user.id && (conversation.sender_seen || Time.at(0) ) < msg.updated_at }
    else
      conversation.messages.count { |msg| msg.user_id == conversation.sender_id && (conversation.receiver_seen || Time.at(0)) < msg.updated_at }
    end
  %>

  <div class="flex flex-col items-end">
      <% if conversation.messages.last %>
        <% last_message_time = conversation.messages.last.created_at %>
        <span class="text-xs text-gray-400">
          <%= last_message_time.today? ? last_message_time.strftime("%I:%M %p") : last_message_time.strftime("%d/%m/%Y") %>
          <%# https://apidock.com/ruby/DateTime/strftime %>
        </span>
      <% end %>

    <% if unseen_count.positive? %>
      <span class="bg-red-500 text-white text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full">
        <%= unseen_count %>
      </span>
    <% end %>
  </div>
</a>
